/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import url(https://fonts.googleapis.com/css?family=Lato:400,700,900,400italic);

html{
  text-align: center;
}

body {
  /*background-color: rgab(10,10,10,0.5);*/
  background-image: url('navFire.jpg');
  background-size: cover;
}

* {
  font-family: 'Lato', sans-serif;
  color: white;
}

#seats table{
  margin: 0px auto;
}

nav li {
  list-style-type: none;
  display: inline;
  margin-right: 37px;
}
nav li a {
  text-decoration: none;
  font-weight: bold;
  font-size: 1.2em;
  color: white;
  opacity: 0.8;
}

nav li a:hover {
  font-size: 1.35em;
  opacity: 1;
}

.navHead{
  height:50px;
  background-color: rgba(255,255,255,0.2);
  margin:0px auto;
  width:100%;
  display: flex;
  top:0px;
  justify-content: center;
}

#flights {
  width: 70%;
  overflow: scroll;
  height: 500px;
  margin-left:70px;
}

#flights li {
  list-style-type: none;
}


h3 span {
  font-size: 60%;
}

.flightView {
  background-color: rgba(200, 80, 80, 0.5);
  position: relative;
  transition: color 1s, background-color 1s;
}

.flightView :hover {
  background-color: rgba(200, 50, 50, 1);
  color: white;
  cursor: pointer;
}


.flightInfo {
  display: inline-block;
}

.aleft {
  position: absolute;
  left: 20px;
}

.aright {
  margin-left: 500px
}

#searchBar {
  top: 70px;
  position: fixed;
  right:30px;
}

#searchBar input {
  color:black;
}
#searchBar button {
  color:black;
}




