/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html{
  text-align: center;
}

#seats table{
  margin: 0px auto;
}

nav li {
  list-style-type: none;
  display: inline;
  margin-right: 10px;

}

.navHead{
  height:50px;
  background:#F0F0F0;     
  border:1px solid #CCC;
  margin:0px auto;
  width:100%;
  display: flex;
  top:0px;
  justify-content: center;
}

#flights {
  border:1px solid black;
  width: 70%;
}

#flights li {
  list-style-type: none;
}

h3 span {
  font-size: 60%;
}

.flightView {
  background-color: rgba(200, 80, 80, 0.5);
  position: relative;
  transition: color 1s, background-color 1s;
}

.flightView :hover {
  background-color: rgba(200, 50, 50, 1);
  color: white;
  cursor: pointer;
}


.flightInfo {
  display: inline-block;
}

.aleft {
  position: absolute;
  left: 20px;
}

.aright {
  margin-left: 500px
}

#searchBar {
  top: 70px;
  position: fixed;
  right:30px;
}




